<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contactos de Emergencia</h2>
      <p>Señor ciudadano es importante tener en cuenta al momento de reportar una alerta, adicionalmente puede
        direccionarse a la dependencia correspondiente. </p>
    </div>
  </div>

  <div class="container">

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="ri-phone-line"></i>
            <h4>Bomberos</h4>
            <p>311-553-9697</p>
          </div>

          <div class="email">
            <i class="ri-phone-line"></i>
            <h4>Defensa civil</h4>
            <p>311-808-4418</p>
          </div>

          <div class="phone">
            <i class="ri-phone-line"></i>
            <h4>Policia</h4>
            <p>2708401 Ext.33446</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form novalidate [formGroup]="form" role="form" class="php-email-form">
          <div class="row">
            <div class="col-6">
              <label for="">Seleccione el tipo de emergencia</label>
              <select formControlName="tipoEmergencia" class="form-select" aria-label="Default select example">
                <option value="Deslizamiento de tierrra">Deslizamiento de tierrra</option>
                <option value="Inundaciones">Inundaciones</option>
                <option value="Incendios">Incendios</option>
                <option value="Lluvias torrenciales">Lluvias torrenciales</option>
                <option value="Robos">Robos</option>
                <option value="Colapsos">Colapsos</option>
              </select>
            </div>
            <div class="col-6">
              <label for="">Selccione la ubicación</label>
              <select formControlName="lugar" class="form-select" aria-label="Default select example">
                <option value="Comuna 1">Centro</option>
                <option value="Comuna 2">Calambeo</option>
                <option value="Comuna 3">San simón</option>
                <option value="Comuna 4">Piedrapintada</option>
                <option value="Comuna 5">Jordán</option>
                <option value="Comuna 6">Vergel</option>
                <option value="Comuna 7">Salado</option>
                <option value="Comuna 8">Simón bolivar</option>
                <option value="Comuna 9">Picaleña - Mirolindo</option>
                <option value="Comuna 10">Estadio</option>
                <option value="Comuna 11">Ferias</option>
                <option value="Comuna 12">Ricaurte</option>
                <option value="Comuna 13">Boquerón</option>
                <option value="14">Vereda</option>
              </select>
            </div>
          </div>
          <div class="form-group mt-3">
            <textarea formControlName="descripcion" class="form-control" name="message" rows="5"
              placeholder="Describa la situacion actual y ubicación aproximada" required></textarea>
          </div>
          <div class="text-center">
            <span *ngIf="!form.valid" class="badge text-bg-danger">Debe llenar los datos del formulario para poder enviar</span>
          </div>

          <div class="text-center mt-3">
            <button [disabled]="!form.valid" (click)="onSubmit()" type="submit">Enviar reporte</button>
          </div>

          <div *ngIf="loading"class="text-center">
            <div class="loading">Cargando</div>
            <div class="sent-message">Tu reporte ha sido enviado correctamente</div>
          </div>

        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
