<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <h1 class="text-center">EMERGENCIAS</h1>
  </div>
  <div class="row">
    <table id="example" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo Emergencia</th>
          <th scope="col">Lugar</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Estado</th>
          <th scope="col">Asignado a</th>
          <th scope="col">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emergencia of emergencias; let i = index">
          <th scope="row">{{ emergencia.id }}</th>
          <td>{{ emergencia.tipoEmergencia }}</td>
          <td>{{ emergencia.lugar }}</td>
          <td>{{ emergencia.descripcion }}</td>
          <td>{{ emergencia.estado }}</td>
          <td>{{ emergencia.asignacion }}</td>
          <td>
            <button (click)="editEmergency(emergencia.id)" type="button" class="btn btn-warning">
              Editar
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
