<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container mt-5">

    <div class="section-title">
      <h2>Sobre Nosotros</h2>
      <p>En el marco de los programas de atención a desastres naturales y uso y apropiación de
        las TIC en la Alcaldía de Ibagué, se reta a los equipos de desarrolladores,
        programadores, estudiantes, profesores o ciudadanos inscritos en la convocatoria,
        presenten soluciones innovadoras para la geolocalización en tiempo real de alertas sobre
        eventos presentados o situaciones que puedan representar riesgos en materia de
        desastres naturales en la capital musical de Colombia.</p>
    </div>

    <div class="row content">
      <div class="col-12">
        <p>
          El hackathon es un evento competitivo en el que los grupos inscritos desarrollarán una
          solución utilizando capacidades como inteligencia artificial, Blockchain e Internet de
          las cosas para resolver un único reto compuesto por cinco condiciones:
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Mapa interactivo con los reportes en tiempo real de la ciudadanía
            sobre eventos o
            situaciones de riesgo de desastre natural.</li>
          <li><i class="ri-check-double-line"></i> Interoperabilidad con cámaras de vigilancia instaladas en el
            municipio de Ibagué.</li>
          <li><i class="ri-check-double-line"></i> Directorio con teléfonos y enlaces para atención via WhatsApp o por otros medios
          de las emergencias o situaciones de riesgo.</li>
          <li><i class="ri-check-double-line"></i> Tableros de alerta y control para cada dependencia (Policía, Defensa Civil,
          Bomberos, Secretarías Municipales de Infraestructura, Planeación, Ambiente y
          Gestión del riesgo).</li>
          <li><i class="ri-check-double-line"></i> Informe con la trazabilidad en la ruta de atención por parte de las dependencias
          encargadas.</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->